body {
    display: flex;
    flex-direction: column;
    
    
}

.section {
    display: flex;
    flex-direction: column; 
    padding: 15px 100px;
}
.one {
    background-color: #1f2937;
    justify-content: space-between;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    margin: 0;
    padding: 0;

}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    
}
a  {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    flex-shrink: 0;
}
.header-container {
    display: flex;
    flex: 1;
    margin: 60px 0px;
    gap: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:50%;
    gap: 8px;

}
.main-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}
.image {
    display: flex;
    background-color: slategray;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 26px;
    width: 50%;
}


button {
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 4px 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
}

.three {
    background-color: #e5e7eb;
}